.header {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;

  border-bottom: 1px solid #475467;
  background-color: yellow;
}

.navContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLink {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-size: 20px;
  font-weight: 700;
  color: #475467;
}
.navLink:hover {
  color: blue;
  text-decoration: underline;
}
.active {
  color: blue;
  text-decoration: underline;
}
