.featuresContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.featuresOptions {
  height: 200px;
}

.featuresDetails {
  height: 286px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.detailsTitle {
  height: 48px;
  border-bottom: 1px solid gray;

  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: #101828;
}

.detailsInfoWrap {
  height: 214px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.detailsInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
