.homePageContainer {
  width: 1312px;
  height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;

  --color-title: #1b551b;
}

.homePageTextWrap {
  display: flex;
  flex-direction: column;
  gap: 22px;

  line-height: 133%;
}

.homePageTiileWrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.homePageTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.homePageTitle h1 {
  color: var(--color-title);
  font-weight: 800;
  font-size: 40px;
}

.homePageText2 {
  color: var(--color-title);
  font-weight: 600;
  font-size: 26px;
  margin: 0 auto;
}

.homePageText3 {
  color: #101828;
  font-weight: 600;
  font-size: 26px;
}

.homePageQuestions {
  display: flex;
  flex-direction: column;
  justify-content: start;

  color: #475467;
  font-weight: 400;
  font-size: 22px;
}

.navLink {
  display: inline-block;
  text-decoration: none;

  color: blue;
  font-weight: 600;
  font-size: 26px;
}
.navLink:hover {
  text-decoration: underline;
}
.active {
  text-decoration: underline;
}

.titleText {
  color: var(--color-title);
  font-weight: 800;
}
