.camperContainer {
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 358px;

  display: flex;
  flex-direction: row;
  gap: 24px;
}

.imgContainer {
  border-radius: 10px;
  width: 290px;
  height: 310px;
  overflow: hidden;
}

.imgContainer img {
  min-width: 290px;
  height: auto;
  /* margin: 0 2px; */
  border-radius: 10px;
}
/*********Context**************/
.camperContext {
  width: 526px;
  height: 310px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

/*********Title inf *************/

.titleInf {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titlePrice {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title,
.priceHeart {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #101828;
}

.priceHeart {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ratingLocation {
  display: flex;
  flex-direction: row;
  gap: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #101828;
}

.rating {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.rating::before {
  content: url('../../assets/img/staryellow.png');
  margin-right: 4px;
}

.location::before {
  content: url('../../assets/img/map-pin.png');
  margin-right: 4px;
}
/********* additionalInf ****************/

.additionalInf {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #475467;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/********* optionsInf   ************/
.optionsInf {
  width: 526px;
  height: 96px;
}
